.wrapper{
	display:grid;
	grid-template-columns: repeat(5, 16.5%);
    grid-template-rows: repeat(15, 20%);
	grid-gap: 10px;
	margin-left: 20px;

	grid-template-areas:
	"....... header header header ......."

	"proj1 proj1 proj1 proj1 proj1"
	"proj1 proj1 proj1 proj1 proj1"

	"proj2 proj2 proj2 proj2 proj2"
	"proj2 proj2 proj2 proj2 proj2"

	"proj3 proj3 proj3 proj3 proj3"
	"proj3 proj3 proj3 proj3 proj3"

	"....... ....... ....... ....... ......."
	"....... ....... ....... ....... ......."
	"....... ....... ....... ....... .......";
}

#proj1{
    grid-area: proj1;
}


#proj2{
    grid-area: proj2;
}

#proj3{
    grid-area: proj3;
}

.project{
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 25%,75%;
	grid-template-areas:
	"img ......."
	"img .......";

    width:95%;
    height:75%;

	padding: 100px;

    /*border: solid 10px red;*/

    justify-self: center;
}

.project h4{
	justify-self: end;
	align-self: end;

	position: relative;
    display: grid;

}

.proj_content{
	rotate: -2deg;
}


.proj_img, .proj_content {
    grid-area: img;
    width: 100%;
    height: 100%;
    align-self: center;
	justify-self: center;

    align-content: center;
    justify-content: center;
    display: grid;
}

.proj_img div{
	position: absolute;

	width: 35%;
	height: 50%;
}

.proj_txt{
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 50%;
}

.skillstxt{
	justify-self: flex-start;

	font-size: 25px;

	position: relative;
	display: grid;
}

.skillstxt::after{
	content:"";
	background:#FF6700;
	position:absolute;
	height: calc(1ch + 15%);
	left: -1.5%;
	bottom: calc(0px + 25%);
	z-index: -3;
	border-radius: 4px;
	width: calc(100% + 0.25ch);
}

#pinkbg{
	rotate:  -166deg;

	background: rgb(252, 124, 146);

	align-self: center;
    justify-self: center;
}

#orangebg{
	background: #FF6700;

	rotate: -172deg;

	align-self: center;
    justify-self: center;
}

#bluebg{
	background: navy;

	rotate: 3deg;

	align-self: center;
    justify-self: center;
}


.proj_img:hover div{
	transform: rotate(3deg);
	
}

.proj_img:hover div:nth-child(1){
	transition-delay: 75ms;
}
